@mixin scroll-fade-in($time) {
  animation: scroll-fade-in $time ease-in forwards;
}

@keyframes scroll-fade-in {
  0% {
    top: -100px;
    opacity: 0;
    filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  100% {
    top: 5%;
    opacity: 1;
    filter: blur(0);
    backdrop-filter: blur(0);
  }

}

@mixin anim-roll {
  animation: anim-roll 1s infinite linear;
}

@keyframes anim-roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin rollIn($time) {
  animation: rollIn $time forwards;
}

@keyframes rollIn {
  0% {
    transform: rotateX(90deg) translate(0, -15px);
  }
  100% {
    transform: rotateX(0) translate(0, 0);
  }
}

@mixin nextRoundAnim {
  animation: nextRoundAnim 2s;
  animation-iteration-count: infinite;
}

@keyframes nextRoundAnim {
  0% {
    @include textshadow(2px,-2px,white)
  }
  50% {
    @include textshadow(4px,-4px,white)
  }
  100% {
    @include textshadow(2px,-2px,white)
  }
}

@mixin nextRoundAnimHover {
  animation: nextRoundAnimHover 1.4s;
  animation-iteration-count: infinite;
}

@keyframes nextRoundAnimHover {
  0% {
    color: lighten(blue,10%);
    @include textshadow(2px,-2px,white)
  }
  50% {
    color: darken(blue,20%);
    @include textshadow(4px,-4px,white)
  }
  100% {
    color: lighten(blue,10%);
    @include textshadow(2px,-2px,white)
  }
}




// @mixin buttonNextAnim {
//   animation: buttonNextAnims 10s ease-in-out ;
//   animation-iteration-count: infinite;
// }
//
// @keyframes buttonNextAnims {
//   0% {
//     transform: translate(0,0);
//   }
//   5% {
//     transform: translate(5px,3px);
//   }
//   10% {
//     transform: translate(0,0);
//   }
//   15% {
//     transform: translate(-5px,-3px);
//   }
//   20% {
//     transform: translate(0,0);
//   }
//   25% {
//     transform: translate(3px,5px);
//   }
//   30% {
//     transform: translate(0,0);
//   }
//   35% {
//     transform: translate(-3px,-5px);
//   }
//   40% {
//     transform: translate(0,0);
//   }
//   45% {
//     transform: translate(3px, 3px);
//   }
//   50% {
//     transform: translate(0,0);
//   }
//   55% {
//     transform: translate(-3px,-3px);
//   }
//   60% {
//     transform: translate(0,0);
//   }
//   65% {
//     transform: translate(2px,4px);
//   }
//   70% {
//     transform: translate(0,0);
//   }
//   75% {
//     transform: translate(-2px,-4px);
//   }
//   80% {
//     transform: translate(0,0);
//   }
//   85% {
//     transform: translate(4px,-2px);
//   }
//   90% {
//     transform: translate(0,0);
//   }
//   95% {
//     transform: translate(-4px,2px);
//   }
//   100% {
//     transform: translate(0,0);
//   }
// }



@mixin pulse($time) {
  animation: pulse $time infinite ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1)
  }
}

@mixin comeFromLeft($time) {
  animation: comeFromLeftAnim $time forwards ease-out;
}

@keyframes comeFromLeftAnim {
  0% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}

@mixin comeFromTop($time) {
  animation: comeFromTopAnim $time forwards ease-out;
}

@keyframes comeFromTopAnim {
  0% {
    top: -120%;
  }
  100% {
    top: 0;
  }
}


@mixin blinking($times) {
  animation: blinkingAnimation 0.4s;
  animation-iteration-count: $times;
}

@keyframes blinkingAnimation {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

@mixin comeFromRight($time) {
  animation: comeFromRightAnim $time forwards ease-out;
}

@keyframes comeFromRightAnim {
  0% {
    right: -120%;
  }
  100% {
    right: 0;
  }
}

@mixin comeFromBottom($time) {
  animation: comeFromBottomAnim $time forwards ease-out;
}

@keyframes comeFromBottomAnim {
  0% {
    bottom: -120%;
  }
  100% {
    bottom: 0;
  }
}
